@tailwind base;
@tailwind components;
@tailwind utilities;



@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

:root{
  --do-expense:#f9bd4f;
  --do-income:#55c739;
  --text-primary:#fff;
}

*{
  font-family: 'Open Sans',sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  padding: 4em 0;
}

.bg-orange{
  background-color: var(--do-expense);
}

.bg-green{
  background-color: var(--do-income);
}







